version: "3"

services:
  app:
    build: .
    ports:
    - "8080:8080"
    volumes:
    - ./storage:/storage


  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: root
    ports:
    - "5432:5432"

